<h4 class="text-center mt-3">Registre-se e mostre seu pet ao mundo</h4>

<form class="form mt-4" [formGroup]="newUserForm" (submit)="register()">
  <div class="form-group mb-3">
    <input type="text" placeholder="e-mail" class="form-control" formControlName="email">
    <app-message
      *ngIf="newUserForm.get('email')?.errors?.['required'] &&
        newUserForm.get('email')?.touched"
      message="E-mail obrigatório"
    ></app-message>
    <app-message
      *ngIf="newUserForm.get('email')?.errors?.['email'] &&
      newUserForm.get('email')?.touched"
      message="E-mail no formato incorreto"
    ></app-message>
  </div>

  <div class="form-group mb-3">
    <input type="text" placeholder="Nome Completo" class="form-control" formControlName="fullName">
    <app-message
      *ngIf="newUserForm.get('fullName')?.errors?.['required'] &&
      newUserForm.get('fullName')?.touched"
      message="Nome obrigatório"
    ></app-message>
  </div>

  <div class="form-group mb-3">
    <input type="text" placeholder="Usuário" class="form-control" formControlName="userName">
    <app-message
      *ngIf="newUserForm.get('userName')?.errors?.['lowerCase'] &&
        newUserForm.get('userName')?.touched"
      message="Usuário deve conter apenas letras minúsculas"
    ></app-message>
    <app-message
      *ngIf="newUserForm.get('userName')?.errors?.['userExists']"
      message="Usuário já existe"
    ></app-message>
  </div>

  <div class="form-group mb-3">
    <input type="password" placeholder="Senha" class="form-control" formControlName="password">
    <app-message
      *ngIf="newUserForm.errors?.['passwordMatchUser']"
      mensagem="Senha deve ser diferente do usuário"
    >
    </app-message>
  </div>

  <div class="d-grid gap-2">
    <button class="btn btn-primary btn-block">Cadastrar</button>
  </div>
</form>

<p class="mt-2">
  Não é um usuário? <a [routerLink]="['']">Entrar</a>
</p>
